[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "3rdparty/SafeInt"]
	path = 3rdparty/SafeInt
	url = https://github.com/rsmmr/SafeInt.git
[submodule "3rdparty/ArticleEnumClass-v2"]
	path = 3rdparty/ArticleEnumClass-v2
	url = https://github.com/Dalzhim/ArticleEnumClass-v2
[submodule "3rdparty/libb64"]
	path = 3rdparty/libb64
	url = https://github.com/libb64/libb64
[submodule "3rdparty/tinyformat"]
	path = 3rdparty/tinyformat
	url = https://github.com/c42f/tinyformat
[submodule "3rdparty/utf8proc"]
	path = 3rdparty/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
[submodule "3rdparty/justrx"]
	path = 3rdparty/justrx
	url = https://github.com/rsmmr/justrx.git
[submodule "3rdparty/fiber"]
	path = 3rdparty/fiber
	url = https://github.com/simonfxr/fiber.git
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "3rdparty/reproc"]
	path = 3rdparty/reproc
	url = https://github.com/DaanDeMeyer/reproc.git
[submodule "3rdparty/utfcpp"]
	path = 3rdparty/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
