[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/onqtam/doctest.git
	shallow = true
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "3rdparty/SafeInt"]
	path = 3rdparty/SafeInt
	url = https://github.com/rsmmr/SafeInt.git
	shallow = true
[submodule "3rdparty/ArticleEnumClass-v2"]
	path = 3rdparty/ArticleEnumClass-v2
	url = https://github.com/Dalzhim/ArticleEnumClass-v2
	shallow = true
[submodule "3rdparty/libb64"]
	path = 3rdparty/libb64
	url = https://github.com/libb64/libb64
	shallow = true
[submodule "3rdparty/tinyformat"]
	path = 3rdparty/tinyformat
	url = https://github.com/c42f/tinyformat
	shallow = true
[submodule "3rdparty/utf8proc"]
	path = 3rdparty/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
	shallow = true
[submodule "3rdparty/justrx"]
	path = 3rdparty/justrx
	url = https://github.com/rsmmr/justrx.git
	shallow = true
[submodule "3rdparty/fiber"]
	path = 3rdparty/fiber
	# We fork this dependency since we need https://github.com/simonfxr/fiber/pull/5.
	# TODO: Switch back to the original upstream once it is merged.
	url = https://github.com/zeek/fiber.git
	shallow = true
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
	shallow = true
[submodule "3rdparty/reproc"]
	path = 3rdparty/reproc
	url = https://github.com/DaanDeMeyer/reproc.git
	shallow = true
[submodule "3rdparty/utfcpp"]
	path = 3rdparty/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
	shallow = true
[submodule "3rdparty/vcpkg"]
	path = 3rdparty/vcpkg
	url = https://github.com/microsoft/vcpkg
	shallow = true
[submodule "3rdparty/libunistd"]
	path = 3rdparty/libunistd
	url = https://github.com/zeek/libunistd
	shallow = true
