# NOTE: Since this file is not part of the normal docs build process
# any dependencies specified here are likely only seen by RTD.

# Require >=sphinx-2.0 to work around https://github.com/sphinx-doc/sphinx/issues/9727.
Sphinx>=2.0
