# Copyright (c) 2020-2021 by the Zeek Project. See LICENSE for details.

# Note: beware of https://github.com/readthedocs/sphinx_rtd_theme/issues/1115
# and broken behavior with docutils 0.17.
docutils==0.16
sphinx_rtd_theme==0.5.2
Sphinx==3.4.3
