# Copyright (c) 2020-2023 by the Zeek Project. See LICENSE for details.

# Note: beware of https://github.com/readthedocs/sphinx_rtd_theme/issues/1115
# and broken behavior with docutils 0.17.
docutils==0.18.1
sphinx_rtd_theme==1.2.0
Sphinx==6.2.1
