# Copyright (c) 2020-now by the Zeek Project. See LICENSE for details.

name: CodSpeed

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends curl ca-certificates gnupg2
          sudo apt-get install -y --no-install-recommends \
              bison \
              ccache \
              flex \
              g++ \
              libfl-dev \
              libssl-dev \
              make \
              ninja-build \
              zlib1g-dev

      - name: ccache
        uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639
        with:
          create-symlink: true
          key: ${{ github.job }}

      - name: Build benchmarks
        env:
          HILTI_OPTIMIZER_ENABLE_CFG: 1
        run: |
          cmake -G Ninja -DCODSPEED_MODE=instrumentation -DCMAKE_BUILD_TYPE=RelWithDebInfo -Bbuild /spicy
          ninja -C build spicy-rt-parsing-benchmark hilti-rt-benchmark

      - uses: CodSpeedHQ/action@fa0c9b1770f933c1bc025c83a9b42946b102f4e6
        with:
          run: |
            ./build/bin/hilti-rt-benchmark
            ./build/bin/spicy-rt-parsing-benchmark
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: instrumentation
