# Copyright (c) 2020-now by the Zeek Project. See LICENSE for details.

on:
  push:
    # Push events to matching v*, i.e. v1.0, v20.15.10. We exclude `-dev` tags.
    tags:
      - 'v*'
      - '!v*-dev'

name: Create Release

# In order to create a release we need content write permissions.
permissions:
  contents: write

jobs:
  build:
    name: Upload Release Assets
    runs-on: ubuntu-latest
    steps:
      - name: 'Wait for status checks'
        id: waitforstatuschecks
        uses: "WyriHaximus/github-action-wait-for-status@v1"
        with:
          ignoreActions: "Upload Release Assets"
          checkInterval: 60
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Prepare archive
        run: |
          ./scripts/make-tarball.sh
      - name: Fetch platform packages
        shell: bash
        run: |
          ./scripts/store-release-artifacts --commit ${{ github.sha }}
          for f in binary_artifacts/*.*; do
              if [[ "$f" == *"docker"* ]]; then
                mv "$f" "${f//docker/linux}"
              fi
          done
      - name: Upload Release Assets
        id: upload-release-assets
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          files: |
            spicy*.tar.gz
            binary_artifacts/spicy*.tar.gz
            binary_artifacts/spicy*.deb
            binary_artifacts/spicy*.rpm
