# Copyright (c) 2020-2021 by the Zeek Project. See LICENSE for details.

on:
  check_suite:
    type: ['completed']

name: Email about successful Cirrus CI builds
jobs:
  continue:
    name: After Cirrus CI Failure
    if: github.event.check_suite.app.name == 'Cirrus CI' && github.event.check_suite.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: octokit/request-action@v2.x
        id: get_success_check_run
        with:
          route: GET /repos/${{ github.repository }}/check-suites/${{ github.event.check_suite.id }}/check-runs?status=completed
          mediaType: '{"previews": ["antiope"]}'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          echo "Cirrus CI ${{ github.event.check_suite.conclusion }} on SHA ${{ github.event.check_suite.head_sha }}"
          echo "SHA ${{ github.event.check_suite.head_sha }}"
          echo $MESSAGE
          echo "See $CHECK_RUN_URL for details" && true
        env:
          CHECK_RUN_URL: ${{ fromJson(steps.get_success_check_run.outputs.data).check_runs[0].html_url }}
